USE [master]
GO
/****** Object:  Database [DbExchangeCurrency]    Script Date: 31.10.2024 15:16:05 ******/
CREATE DATABASE [DbExchangeCurrency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbExchangeCurrency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbExchangeCurrency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbExchangeCurrency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbExchangeCurrency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbExchangeCurrency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbExchangeCurrency]
GO
/****** Object:  Table [dbo].[Tbl_SafeAmount]    Script Date: 31.10.2024 15:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SafeAmount](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DollarBuying] [float] NULL,
	[DollarSelling] [float] NULL,
	[EuroBuying] [float] NULL,
	[EuroSelling] [float] NULL,
	[TL] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
